<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        アイテムの情報
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

          <div class="row">

            <div class="col-md-4 select">
              <div class="form-group">
                <label>アイテムの状態</label>
                <%= f.select :home_type, [["美品", "美品"], ["良品", "良品"], ["若干のキズあり", "若干のキズあり"], ["若干の汚れあり", "若干の汚れあり"], ["キズ・汚れあり", "キズ・汚れあり"]],
                              id: "home_type", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label>配送料の負担</label>
                <%= f.select :room_type, [["出品者の負担", "出品者の負担"], ["利用者の負担", "利用者の負担"]],
                              id: "room_type", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>破損時の保証金額</label>
                <%= f.text_field :accommodate, placeholder: "10000円", id: "accommodate", class: "form-control" %>
              </div>
            </div>

          </div>

          <div><%= f.submit "保存する", class: 'btn btn-normal' %></div>

          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>