<!-- Image -->
<div class="row">
  <div class="col-md-12">
    <%= image_tag @room.cover_photo(nil), width: "100%" %>
  </div>
</div>
<br>

<div class="row">

  <!-- LEFT PANEL -->
  <div class="col-md-8">

    <!-- Listing Panel -->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @room.listing_name %></h1>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag avatar_url(@room.user), class: "img-circle avatar-large" %><br><br>
        <%= @room.user.fullname %>
      </div>
    </div>
    <hr>
    
    <!-- アイテム名・詳細 -->
    <div class="row">
      <div class="col-md-12">
        <h3>アイテムについて</h3>
        <p><%= @room.summary %></p>
      </div>
    </div>
    <hr>

    <!-- アイテムの情報 -->
    <div class="row">
      <div class="col-md-12">
        <h3>アイテムの情報</h3>
        <div class="row text-center">
          <div class="col-md-4">商品の状態<br><%= @room.home_type %></div>
          <div class="col-md-4">配送料の負担<br><%= @room.room_type %></div>
          <div class="col-md-4">破損時の保証<br><%= @room.accommodate %>円</div>
        </div>
      </div>
    </div>
    <hr>

    <!-- カルーセル -->
    <div class="row">

      <% if @photos.length > 0 %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% @photos.each do |photo| %>
              <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @photos.each do |photo| %>
              <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                <%= image_tag photo.image.url() %>
              </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    
    </div>
    <hr>

    <!-- レビュー -->
    <div class="row">
      <div class="col-md-12">
        <h3>
          <%= @guest_reviews.count %>レビュー
          <span id="average_rating"></span>
        </h3>
        <div class="container">
          <div><%= render "reviews/guest_list" %></div>
        </div>
      </div>
    </div>
    <br>
    <hr>

  </div>
  
  <!-- RIGHT PANEL -->
  <div class="col-md-4">
    <!-- 予約 -->
    <%= render 'reservations/form' %>
  </div>
</div>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @room.average_rating %>
  });
</script>